* {
    box-sizing: border-box;
  }
  
  body {
    background: #e4d941;
    color: rgb(231, 93, 24);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
  }

.backdrop  {
    pointer-events: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms linear;
}


  
  .container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .flex {
    display: flex;
  }
  
  input, button {
    border: 1px solid #463030;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    padding: 8px;
    margin: 0;
  }
  
  input[type="text"] {
    width: 300px;
  }
  .search-btn {
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .random-btn {
    cursor: pointer;
    margin-left: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .meal {
    cursor: pointer;
    position: relative;
    height: 231px;
    width: 312px;
    text-align: center;
  }
  
  .meal img {
    width: 100%;
    height: 100%;
    border: 4px #fff solid;
    border-radius: 2px;
  }
  
  .meal-info {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
  }

  .meal:hover .meal-info{
    opacity: 1
  }

  #single-meal-element {
    display: none;
    z-index: 2;
    position: absolute;
    /* transform: translate(50%);
    transition: opacity 0.2s ease-in, transform 500ms linear; */
    margin: 30px auto;
    text-align: center;
    top: 0;
    width: 60%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  
  #single-meal-element img {
    height: 231px;
    width: 312px;
    margin: 15px;
    border: 4px rgb(238, 128, 26) solid;
    border-radius: 2px;
  }
  
  .single-meal-info {
    display: flex;
    height: 6rem;
    justify-content: center ;
    border-bottom: 1px solid #756e5b;
    padding-top: 20px ;
  }
  .single-meal-serving, 
  .single-meal-time {
    width: 50%;
    color: rgb(88, 27, 27);
    
  }

  .main h2 {
    color: rgb(88, 27, 27);
  }
  .ingredients{
    display: grid;
    margin: 0px 30px;
    padding: 20px;
    border: double rgb(142, 142, 177);;
    border-radius: 4px;
    grid-template-columns: 1fr 1fr;
    justify-items: start ; 
  }
  .ingredients div {
    color: rgb(88, 27, 27);
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(142, 142, 177);;

  }
  
  .instructions {
    margin: 0px 30px;
    color: rgb(88, 27, 27);
    line-height: 2rem;
    
  }
  .steps {
    display: grid;
    grid-template-columns: 8% 92%;
    
  }

  .steps div {
    text-align: left;
  }


  .open {
    pointer-events: auto;
    opacity: 1;

  }

  @media(max-width: 1400px){
    .meals {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media(max-width: 1024px){
    .meals {
      grid-template-columns: repeat(2, 1fr);
    }
  }
   @media(max-width: 767px){
    h1 { 
      font-size: 1.5rem
    }
    h2 { 
      font-size: 1rem
    }
    input[type='text'] {
      width: 100%;
    }
    .meals {
      grid-template-columns: 1fr;
    }
    #single-meal-element {
      padding: 0
    }
    #single-meal-element img{
      width: 100%;
      margin: 0;
    }
    .main {
      width: 100%;
    }
    .ingredients {
      width: 100%;
      margin: 0;
      padding: 5px;
      font-size: 12px;
    }
    .ingredients div {
      height: 3rem;
    }
    .instructions {
      width: 100%;
      margin: 0;
      line-height: 1.5;
    }
    .steps {
      grid-template-columns: 12% 88%;
    }
  }